body{
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card5{
    position: relative;
    width: 640px;
    height: 328px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 120px;

}

.card5 h2{
    text-align: center;
    padding: 25px 0 0 0;
}

.card5 p{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #A9A9A9;

}

.card5  img{
    padding: 16px 0 0 270px;
}

.card5 button {
    width: 340px;
    height: 46px;
    border-radius: 4px;
    margin: 30px 0 0 150px;
    background: #232529;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
}